# VCS
.git
.gitignore

# Node
**/node_modules
**/npm-debug.log

# Python
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/venv

# Editor / OS
.vscode
.idea
.DS_Store

# Local data and dumps
*.sql
pg_data
